<mat-toolbar class="navbar" color="transparent">
  <div class="nav-inner">
    <div class="logo">
      <span class="dot"></span>
      <span class="text">food order</span>
    </div>

    <nav class="links">
      <!-- TODO: add ng if based on role -->
      <!-- <a mat-button>Explore</a>
      <a mat-button>How it works</a>
      <a mat-button>Nutrition</a> -->
      <button mat-stroked-button color="primary" class="login">Sign up</button>
      <button mat-stroked-button color="primary" class="login">Log in</button>
    </nav>
  </div>
</mat-toolbar>
