<mat-toolbar class="navbar" color="transparent">
  <div class="nav-inner">
    <div class="logo">
      <span class="dot"></span>
      <span class="text">food order</span>
    </div>

    <nav class="links">
      <button mat-stroked-button *ngIf="!userService.isLoggedIn()" color="primary" type="button" routerLink="/registration">
        Sign up
      </button>

      <button mat-stroked-button *ngIf="!userService.isLoggedIn()" color="primary" type="button" routerLink="/login">
        Log in
      </button>

      <button mat-stroked-button *ngIf="userService.isLoggedIn()" color="primary" type="button" (click)="onLogout()">
        Log out
      </button>
    </nav>
  </div>
</mat-toolbar>
